.navbar {
  display: center;
  background-color: #f8fafc;
  border-radius: 48px;
  border-color: #d4d4d8;
  border-style: solid;
  border-width: 1px;
}

/* Navbar List Styles */
.navbar ul {
  display: flex;
  column-gap: 24px;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  height: 32px;
}

/* Link Styles */
.link {
  color: #27272a;
}

/* Link Hover Styles */
.link:hover {
  text-decoration: none;
  color: #38bdf8;
  text-decoration-color: #38bdf8;
}

/* Link Active Styles */
.link:active {
  color: #38bdf8;
  text-decoration: none;
}
