.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add some space between the cards */
  justify-content: flex-start; /* Align cards to the left */
}

.article-card {
  display: flex;
  flex-direction: column;
  padding: 25px 30px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.9); /* Make the card background transparent */
  margin-bottom: 20px; /* Add margin to separate cards */
  width: calc(50% - 20px); /* Set width for two-column layout with gap */
}

.article-card .article-card-header time {
  font-size: 14px;
  text-transform: uppercase;
  color: #a1a1aa;
  border-left: #e4e4e7 4px solid;
  padding-left: 8px;
}

.article-card .article-card-header h2 {
  font-size: 24px;
  text-transform: capitalize;
  margin: 16px 0px;
  font-weight: bold;
}

.article-card a {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}

.article-card a:hover {
  text-decoration: underline;
}
